<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head th:replace="~{common/head :: head}">
    <!-- jQuery CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>

<body data-offset="60" data-spy="scroll" data-target=".onpage-navigation">
<main>
    <div class="page-loader">
        <div class="loader">Loading...</div>
    </div>
    <nav th:replace="~{common/nav :: nav}"></nav>

    <div class="main">
        <section class="module">
            <div class="container">
                <div class="row">
                    <div class="col-sm-5 col-sm-offset-1 mb-sm-40">
                        <h4 class="font-alt">계정 찾기</h4>
                        <hr class="divider-w mb-10">

                        <form class="form" >
                            <div class="form-group">
                                <input class="form-control" id="inputName" onkeyup="" placeholder="이름" type="text"/>
                            </div>

                            <div class="form-group">
                                <input class="form-control hj-address-number" id="UserPhoneByFindId" placeholder="연락처" type="text"/>
                                <button class="btn btn-g btn-round" onclick="checkUserInfoByPhone()" style="position:absolute; right:15px;" type="button">본인인증</button>&nbsp;
                                <div class="hj-validation-name" id="showPhoneByFindId"></div>
                            </div>
                            <div class="form-group" id="certificationAreaByFindId" style="display: none">
                                <input class="form-control hj-address-number" id="certificationInputByFindId" placeholder="인증번호" type="text"/>
                                <div id="checkCertificationById" style="display: none"></div>
                                <button class="btn btn-g btn-round" onclick="startCertificationByFindId()" style="position:absolute; right:15px;" type="button">인증하기</button>&nbsp;
                            </div>

                            <div class="form-group">
                                <button class="btn btn-block btn-round btn-g" onclick="findUserId()" type="button">계정 찾기</button>
                            </div>

                        </form>
                    </div>


                    <div class="col-sm-5">
                        <h4 class="font-alt">비밀번호 찾기</h4>
                        <hr class="divider-w mb-10">

                        <form class="form">
                            <div class="form-group">
                                <input class="form-control" id="inputId" onkeyup="" placeholder="계정" type="text"/>
                                <div id="showLoginId"></div>
                            </div>

                            <div class="form-group">
                                <input class="form-control hj-address-number" id="UserPhoneByFindPassword" placeholder="연락처" type="text"/>
                                <button class="btn btn-g btn-round" onclick="checkUserInfoByPhone2()" style="position:absolute; right:15px;" type="button">본인인증</button>&nbsp;
                                <div class="hj-validation-name" id="showPhoneByFindPassword"></div>
                            </div>

                            <div class="form-group" id="certificationAreaByFindPassword" style="display: none">
                                <input class="form-control hj-address-number" id="certificationInputByFindPassword" placeholder="인증번호" type="text"/>
                                <div id="checkCertificationByPassword" style="display: none"></div>
                                <button class="btn btn-g btn-round" onclick="startCertificationByFindPassword()" style="position:absolute; right:15px;" type="button">인증하기</button>&nbsp;
                            </div>

                            <div class="form-group">
                                <button class="btn btn-block btn-round btn-g" onclick="findUserPassword()" type="button">비밀번호 찾기</button>
                            </div>
                        </form>

                        <div class="hj-area"></div>
                    </div>
                </div>
            </div>
        </section>
        <hr class="divider-d">
        <footer th:replace="~{common/footer :: footer}"></footer>
        <th:block th:replace="~{common/js :: js}"></th:block>
    </div>
    <div class="scroll-up"><a href="#totop"><i class="fa fa-angle-double-up"></i></a></div>
</main>

<script src="/js/user/loginregister/registerValidation.js"></script>
<script src="/js/user/loginregister/loginValidation.js"></script>
<script src="/js/user/findUserInfo/finduserInfo.js"></script>
<script src="/js/user/common/common.js"></script>
<script src="/js/user/address/kakaoAddressAPI.js"></script>
<script src="/js/user/coolsms/findUserIdCoolsms.js"></script>

<!-- Sweet Alert -->
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<!-- 주소찾기 API -->
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>

</body>
</html>