<!DOCTYPE html>
<html lang="en-US" dir="ltr">
<head th:replace="~{common/head :: head}">

</head>

<body data-spy="scroll" data-target=".onpage-navigation" data-offset="60">
<main>
    <div class="page-loader">
        <div class="loader">Loading...</div>
    </div>

    <nav th:replace="~{common/nav :: nav}"></nav>

    <div class="main">
        <section class="module">
            <div class="container">
                <h4 class="font-alt">회원정보</h4>
                <hr class="divider-w mb-10">
                <div class="row">
                    <div class="col-sm-6" style="float: none; margin: 0 auto">

                        <br>
                        <img class="hj-profile" id="showFile"
                                 th:src="${profileResult != null ? '/images/userProfile/' + profileResult.uploadFileUniqueName : '/images/userProfile/basicprofile.png'}">
                        <br>
                        <br>

                        <div class="form-group">
                            <input class="form-control hj-address-number" id="fileName" type="file" name="fileName" style="display: inline-block;" onchange="profile()"/>
                            <button class="btn btn-g btn-round" id="fileUpload" onclick="uploadProfile()" style="position:absolute; right:15px;">업로드</button>&nbsp;
                        </div>

                        <form class="form" method="POST" th:action="@{/editProfile}" th:object="${userDTO}">
                            <div class="form-group">
                                <input class="form-control" id="userName" name="userName" onkeyup="nameValidation()" placeholder="이름" th:value="${result.userName}" type="text"/>
                                <input id="originalUserName" th:value="${result.userName}" type="hidden">
                                <div class="hj-validation-name" id="showName"></div>
                            </div>

                            <div class="form-group">
                                <input class="form-control" id="birthDate" name="birthDate" onkeyup="birthDateValidation()" placeholder="생년월일(yyyymmdd)" th:value="${result.userBirthDate}" type="text"/>
                                <input id="originalBirthDate" th:value="${result.userBirthDate}" type="hidden">
                                <div class="hj-validation-name" id="showBirthDate"></div>
                            </div>

                            <div class="form-group">
                                <input class="form-control hj-address-number" id="nickName" name="nickName" onkeyup="editNickNameValidation()" placeholder="닉네임" th:value="${result.userNickName}" type="text"/>
                                <button class="btn btn-g btn-round" onclick="checkEditNickName()" style="position:absolute; right:15px;" type="button">중복확인</button>&nbsp;
                                <input id="originalNickName" th:value="${result.userNickName}" type="hidden">
                                <div class="hj-validation-name" id="showNickName"></div>
                            </div>

                            <div class="form-group">
                                <input class="form-control hj-address-number" id="phone" name="phone" onkeyup="phoneValidation()" placeholder="연락처" th:value="${result.userPhone}" type="text"/>
                                <button class="btn btn-g btn-round" style="position:absolute; right:15px;" th:onclick="certification()" type="button">본인인증</button>&nbsp;
                                <input id="originalPhone" th:value="${result.userPhone}" type="hidden">
                                <div class="hj-validation-name" id="showPhone"></div>
                            </div>
                            <div class="form-group" id="certificationArea" style="display: none">
                                <input class="form-control hj-address-number" id="certificationInput" placeholder="인증번호" type="text"/>
                                <button class="btn btn-g btn-round" style="position:absolute; right:15px;" th:onclick="startCertification()" type="button">인증하기</button>&nbsp;
                            </div>

                            <div class="form-group">
                                <input class="form-control hj-address-number" disabled id="postCode" name="postCode" placeholder="우편번호" th:value="${result.userPostCode}" type="text"/>
                                <button class="btn btn-g btn-round" onclick="addressSearch()" style="position:absolute; right:15px;" type="button">주소찾기</button>&nbsp;
                                <input id="originalPostCode" th:value="${result.userPostCode}" type="hidden">
                            </div>

                            <div class="form-group">
                                <input class="form-control" disabled id="address" name="address" placeholder="주소" th:value="${result.userAddress}" type="text"/>
                                <input id="originalAddress" th:value="${result.userAddress}" type="hidden">
                            </div>

                            <div class="form-group">
                                <input class="form-control" id="detailAddress" name="detailAddress" placeholder="상세주소" th:value="${result.userDetailAddress}" type="text"/>
                                <input id="originalDetailAddress" th:value="${result.userDetailAddress}" type="hidden">
                            </div>

                            <div class="form-group">
                                <input class="form-control" id="extraAddress" name="extraAddress" placeholder="참고항목" th:value="${result.userExtraAddress}" type="text"/>
                                <input id="originalExtraAddress" th:value="${result.userExtraAddress}" type="hidden">
                            </div>

                            <div class="form-group">
                                <button class="btn btn-block btn-round btn-g" onclick="showTag()" type="button">비밀번호 변경</button>
                            </div>

                            <div class="form-group" id="currentPasswordTag" style="display: none;">
                                <input class="form-control" id="currentPassword" name="currentPassword" onkeyup="changePasswordValidation()" placeholder="현재 암호" type="password"/>
                                <div class="hj-validation-name" id="showNowPassword"></div>
                            </div>

                            <div class="form-group" id="passwordTag" style="display: none;">
                                <input class="form-control" id="password" name="password" onkeyup="passwordValidation()" placeholder="변경할 암호" type="password"/>
                                <div class="hj-validation-name" id="showPassword"></div>
                            </div>

                            <div class="form-group" id="rePasswordTag" style="display: none;">
                                <input class="form-control" id="rePassword" name="rePassword" onkeyup="rePasswordValidation()" placeholder="암호확인" type="password"/>
                                <div class="hj-validation-name" id="showRePassword"></div>
                            </div>

                            <div class="form-group" id="passwordChangeButton" style="display: none;">
                                <button class="btn btn-block btn-round btn-g" onclick="editPassword()" type="button">변경</button>
                            </div>

                            <div class="form-group">
                                <button class="btn btn-block btn-round btn-g" onclick="editProfile()" type="button">수정하기</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <hr class="divider-w">
        <hr class="divider-d">
        <footer th:replace="~{common/footer :: footer}"></footer>
        <th:block th:replace="~{common/js :: js}"></th:block>

    </div>
    <div class="scroll-up"><a href="#totop"><i class="fa fa-angle-double-up"></i></a></div>
</main>

<script src="/js/user/mypage/profile.js"></script>
<script src="/js/user/loginregister/registerValidation.js"></script>
<script src="/js/user/loginregister/loginValidation.js"></script>
<script src="/js/user/coolsms/coolsms.js"></script>
<script src="/js/user/mypage/validation.js"></script>
<script src="/js/user/mypage/passwordChange.js"></script>
<script src="/js/user/common/common.js"></script>
<script src="/js/user/address/kakaoAddressAPI.js"></script>

<!-- Sweet Alert -->
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<!-- 주소찾기 API -->
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
</body>
</html>
