<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head th:replace="~{common/head :: head}">
  <meta charset="utf-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <title>VibeVillage</title>
</head>

  <body data-offset="60" data-spy="scroll" data-target=".onpage-navigation">

    <main>
      <nav th:replace="~{common/nav :: nav}"></nav>
      <div class="page-loader">
        <div class="loader">Loading...</div>
      </div>

      <section class="showcase-page-header parallax-bg">
        <div class="titan-caption">
          <div class="caption-content">
            <video autoplay muted loop playsinline id="background-video" class="hj-main-video">
              <source src="/videos/main_people_face.mp4" type="video/mp4">
            </video>
          </div>
        </div>
      </section>

      <section class="showcase-page-header parallax-bg">
        <div class="titan-caption">
          <div class="caption-content">
            <br>
            <br>
            <div class="font-alt" style="font-size:30px;">VibeVillage</div>
            <div class="font-alt mb-40" style="font-size:20px;">취미 공유 커뮤니티</div>
          </div>
        </div>
      </section>

      <div class="main showcase-page">
        <footer th:replace="~{common/footer :: footer}"></footer>
        <th:block th:replace="~{common/js :: js}"></th:block>
      </div>
      <div class="scroll-up"><a href="#totop"><i class="fa fa-angle-double-up"></i></a></div>
    </main>

  </body>
</html>