<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<th:block th:fragment="js">
    <script th:src="@{/lib/jquery/dist/jquery.js}"></script>
    <script th:src="@{/lib/bootstrap/dist/js/bootstrap.min.js}"></script>
    <script th:src="@{/lib/wow/dist/wow.js}"></script>
    <script th:src="@{/lib/jquery.mb.ytplayer/dist/jquery.mb.YTPlayer.js}"></script>
    <script th:src="@{/lib/isotope/dist/isotope.pkgd.js}"></script>
    <script th:src="@{/lib/imagesloaded/imagesloaded.pkgd.js}"></script>
    <script th:src="@{/lib/flexslider/jquery.flexslider.js}"></script>
    <script th:src="@{/lib/owl.carousel/dist/owl.carousel.min.js}"></script>
    <script th:src="@{/lib/smoothscroll.js}"></script>
    <script th:src="@{/lib/magnific-popup/dist/jquery.magnific-popup.js}"></script>
    <script th:src="@{/lib/simple-text-rotator/jquery.simple-text-rotator.min.js}"></script>
    <script th:src="@{/js/plugins.js}"></script>
    <script th:src="@{/js/main.js}"></script>
</th:block>

</html>
