<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <div th:replace="~{common/head :: head}"></div>
</head>

<body data-spy="scroll" data-target=".onpage-navigation" data-offset="60">
<div th:replace="~{common/nav :: nav}"></div>
<main>
  <div class="page-loader">
    <div class="loader">Loading...</div>
  </div>
  <div class="main">
    <section class="module bg-dark-30 parallax-bg restaurant-menu-bg" style="padding: 160px 0px; background-color: #587379cf;" data-background="">
      <div class="container">
        <div class="row">
          <div class="col-sm-2 col-sm-offset-5">
            <div class="alt-module-subtitle"><span class="holder-w"></span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2">
            <!-- 회원만이 들어가서 수정 할수있음 다른 회원은 보지못함 -->
            <h4 class="module-title font-alt mb-0">등 업 게 시 판</h4>
            <div class="text-center mt-4">
              <a th:href="@{/levelUp/levelUpEnroll}" class="btn btn-g btn-circle" style="margin-top: 10px;">등 업 신 청</a>
            </div>
          </div>
        </div>
      </div>
    </section>


    <!-- 상태 필터링 버튼 추가 -->
    <section class="status_filter" style="padding-top: 40px; text-align: center;">
      <div class="container">
        <div class="button-container">
          <button style="padding: 10px 20px;" class="btn btn-g btn-circle" value="전체" th:onclick="filterStatus('all')">전체</button>
          <button style="padding: 10px 20px;" class="btn btn-g btn-circle" value="진행중" th:onclick="filterStatus('진행중')">진행중</button>
          <button style="padding: 10px 20px;" class="btn btn-g btn-circle" value="반려" th:onclick="filterStatus('반려')">반려</button>
          <button style="padding: 10px 20px;" class="btn btn-g btn-circle" value="완료" th:onclick="filterStatus('완료')">완료</button>
        </div>
      </div>
    </section>


    <section class="module" style="padding-top: 80px;">
      <div class="container">
        <div class="row multi-columns-row" style="display: flex; justify-content: center;">
          <div class="col-sm-6">
            <div class="menu" th:each="lbList : ${lbList}">
              <div class="row">
                <div class="col-sm-8" >
                  <a th:href="@{/levelUp/levelUpBoardDetail/{lbNo}(lbNo=${lbList.lbNo})}" style="font-size: 16px;" class="menu-title font-alt" th:text="${lbList.lbTitle}"></a>
                  <div class="menu-detail" style="padding-top: 10px; font-size: 13px; text-align: start;" th:text="${lbList.lbIndate}"></div>
                  <div class="menu-detail" style="padding-top: 10px; font-size: 13px; text-align: start;" th:text="${lbList.userNickName}"></div>
                  <!-- 등업 신청한 사람만 볼수있게 완료/반려/진행중 -->
                </div>
                <!-- <div class="col-sm-4 menu-price-detail">
                  <h5 class="menu-price font-alt">진행중</h5>
                </div> -->
                <div>
                  <div style="float: right; padding-right: 15px;">
                    <button style="padding: 10px 10px;" class="btn btn-g btn-circle" th:text="${lbList.lrStatus}"></button></div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </section>
  </div>
</main>
<div th:replace="~{common/footer :: footer}"></div>
<div th:replace="~{common/js :: js}"></div>

<script>
  function filterStatus(lrStatus) {
  const url = `/levelUp/levelUpBoard/${lrStatus}`
    window.location.href = url;
  }
</script>
</body>
</html>