<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.vibevillage.chatting.mapper.ChatRoomMapper">
    <!-- 유저 ID로 채팅방 찾기 -->

    <select id="findRoomByUserIds" resultType="java.lang.Long">
        SELECT room_id FROM chat_room
        WHERE creator_id = #{currentUserId} AND other_user_id = #{otherUserId}
           OR creator_id = #{otherUserId} AND other_user_id = #{currentUserId}
    </select>
    <!-- 채팅방 생성 -->

    <insert id="createChatRoom" useGeneratedKeys="true" keyProperty="roomId" keyColumn="room_id">
        INSERT INTO chat_room (room_id,room_name, creator_id, other_user_id)
        VALUES (chat_room_seq.nextval,#{chatRoom.name}, #{chatRoom.creatorId}, #{chatRoom.otherUserId})
    </insert>
    <!-- 특정 roomId로 채팅방 찾기 -->
    <select id="findRoomById" resultType="kr.co.vibevillage.chatting.model.ChatRoom">
        SELECT room_id AS roomId, room_name AS name, creator_id AS creatorId
        FROM chat_room
        WHERE room_id = #{roomId}
    </select>
    <select id="getChatRoomList" resultType="kr.co.vibevillage.chatting.model.ChatRoom">
        SELECT room_id AS roomId, room_name AS name, creator_id AS creatorId,
               other_user_id AS otherUserId
        FROM chat_room
        WHERE other_user_id = #{userNo} or creator_id = #{userNo}
    </select>
    <select id="getUserNickNameById">
            select u_nickname from USER_VIBEVILLAGE
            where u_no = #{userNo}
    </select>

</mapper>
