<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.vibevillage.chatting.mapper.ChatMessageMapper">
    <insert id="saveChatMessage">
        INSERT INTO chat_message (room_id, sender_id, message, timestamp)
        VALUES (#{roomId}, #{senderId}, #{message}, #{timestamp})
    </insert>
    <select id="findMessagesByRoomId" resultType="kr.co.vibevillage.chatting.model.ChatMessage">
        SELECT message_id AS id, room_id AS roomId, sender_id AS senderId,
               message, timestamp, other_user_id AS otherUserId
        FROM chat_message
        WHERE room_id = #{roomId}
        ORDER BY timestamp
    </select>
</mapper>
