<!doctype html>
<html lang="en">
<head>
  <title>Websocket ChatRoom</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="/webjars/bootstrap/4.3.1/dist/css/bootstrap.min.css">
  <style>
    [v-cloak] {
      display: none;
    }
  </style>
</head>
<body>
<div class="container" id="app">
  <div>
    <h2 id="room-name"></h2>
  </div>
  <div class="input-group">
    <div class="input-group-prepend">
      <label class="input-group-text">내용</label>
    </div>
    <input type="text" class="form-control" id="message" placeholder="메시지를 입력하세요" onkeypress="if(event.keyCode === 13) sendMessage()">
    <div class="input-group-append">
      <button class="btn btn-primary" type="button" onclick="sendMessage()">보내기</button>
    </div>
  </div>
  <ul class="list-group" id="messages"></ul>
  <div></div>
</div>
<!-- JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sockjs-client/dist/sockjs.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/stompjs/lib/stomp.min.js"></script>
<script>
  // WebSocket & STOMP 초기화
  var sock = new SockJS("/ws-stomp");
  var ws = Stomp.over(sock);
  var reconnect = 0;

  var roomId = localStorage.getItem('wschat.roomId');
  var sender = localStorage.getItem('wschat.sender');
  var messages = [];

  document.addEventListener("DOMContentLoaded", function() {
    document.getElementById('room-name').innerText = "채팅방";
    findRoom();
    connect();
  });

  function findRoom() {
    axios.get('/chat/room/' + roomId)
            .then(function(response) {
              var room = response.data;
              document.getElementById('room-name').innerText = room.name;
            })
            .catch(function(error) {
              console.error('Error fetching room data:', error);
            });
  }

  function sendMessage() {
    var messageInput = document.getElementById('message');
    var message = messageInput.value;

    if (message.trim() !== '') {
      ws.send("/pub/chat/message", {}, JSON.stringify({
        type: 'TALK',
        roomId: roomId,
        sender: sender,
        message: message
      }));
      messageInput.value = '';
    }
  }

  function recvMessage(recv) {
    var messagesUl = document.getElementById('messages');
    var messageElement = document.createElement('li');
    messageElement.className = 'list-group-item';
    messageElement.textContent = (recv.type === 'ENTER' ? '[알림]' : recv.sender) + ': ' + recv.message;
    messagesUl.appendChild(messageElement);
  }

  function connect() {
    ws.connect({}, function(frame) {
      ws.subscribe("/sub/chat/room/" + roomId, function(message) {
        var recv = JSON.parse(message.body);
        recvMessage(recv);
      });
      ws.send("/pub/chat/message", {}, JSON.stringify({
        type: 'ENTER',
        roomId: roomId,
        sender: sender
      }));
    }, function(error) {
      if (reconnect++ <= 5) {
        setTimeout(function() {
          console.log("connection reconnect");
          sock = new SockJS("/ws-stomp");
          ws = Stomp.over(sock);
          connect();
        }, 10 * 1000);
      }
    });
  }

</script>
</body>
</html>
