<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>

  <style>
    .empty-container{
      text-align: center;
      font-size: large;
      font-weight: bold;
    }
    .product-status{
      font-size: large;
      font-weight: bold;
      text-align: -webkit-left;
    }
  </style>
  <div th:replace="~{common/head :: head}"></div>
</head>
<body data-offset="60" data-spy="scroll" data-target=".onpage-navigation">
<main>
  <div class="page-loader">
    <div class="loader">Loading...</div>
  </div>
  <div th:replace="~{common/nav :: nav}"></div>
  <div class="main">
    <section class="module-small">
      <div class="container">
        <form class="row">

          <div class="col-sm-2" style="float: right;">
            <a th:href="@{/used/my_boards}">
              <button class="btn btn-block btn-round btn-g" type="button" >내 글보기
              </button>
            </a>
          </div>
        </form>
      </div>
    </section>
    <hr class="divider-w">
    <section class="module-small">
      <div class="empty-container" th:if="${chatRoomList.size() == 0}">
        <p>채팅 내역이 없습니다.</p>
        <div class="empty-space" style="height: 100px;"></div> <!-- 간격을 위한 빈 공간 -->
      </div>
      <div class="container">
        <script th:inline="javascript">
          let usedList = /*[[${usedList}]]*/ [];
        </script>
        <div class="row multi-columns-row">
          <div class="col-sm-6 col-md-3 col-lg-3" th:each="item : ${chatRoomList}">
            <div class="shop-item">
              <p class="product-status" th:text="${'TITLE : '+item.getUsedBoardTitle()}"></p>

              <div class="shop-item-image" th:each="image : ${item.images}">

                <img alt="Accessories Pack" style="width: 345px; height: 345px" th:src="@{${image.PROJECTREACTOR} + ${image.uploadUniqueName}}"/>

              </div>

              <h4 class="shop-item-title font-alt">
                <a th:href="@{/chat/room/{roomId}(roomId=${item.roomId})}">
                <p th:text="${'SELLER : '+item.otherUserNickName}"></p>
                <p th:text="${'BUYER : '+item.createrNickName}"></p>
                </a>
              </h4>


            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <!-- 페이지네이션 -->

          </div>
        </div>
      </div>
    </section>
    <hr class="divider-d">
    <div style="width: 100%; height: 100px"></div>

  </div>
  <div class="scroll-up"><a href="#totop"><i class="fa fa-angle-double-up"></i></a></div>
</main>
<div th:replace="~{common/footer :: footer}"></div>
<!--
JavaScripts
=============================================
-->
<div th:replace="~{common/js :: js}"></div>


<script th:src="@{/js/usedBoard/common/cityCategory.js}"></script>

</body>
</html>
