<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.vibevillage.experienceAndReviewBoard.listmapper.CommentMapper">

    <insert id="insertComment" parameterType="kr.co.vibevillage.experienceAndReviewBoard.domain.Comment">
        INSERT INTO R_COMMENTS (R_ID, U_NO, C_CONTENT, C_CREATED_AT)
        VALUES (#{rId}, #{uNo}, #{cContent}, #{cCreatedAt})
    </insert>

    <select id="findByPostId" resultType="kr.co.vibevillage.experienceAndReviewBoard.domain.Comment">
        SELECT * FROM R_COMMENTS WHERE R_ID = #{rId}
    </select>

    <delete id="deleteById" parameterType="long">
        DELETE FROM R_COMMENTS WHERE COMMENT_ID = #{commentId}
    </delete>

    <select id="getCommentsByPostId" resultType="kr.co.vibevillage.experienceAndReviewBoard.domain.Comment">
        SELECT COMMENT_ID as commentId, R_ID as rId, U_NO as uNo, C_CONTENT as cContent, C_CREATED_AT as cCreatedAt
        FROM R_COMMENTS WHERE R_ID = #{rId}
    </select>

    <select id="countCommentsByPostId" resultType="int">
        SELECT COUNT(*)
        FROM R_COMMENTS
        WHERE R_ID = #{postId}
    </select>

</mapper>
