<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.vibevillage.experienceAndReviewBoard.listmapper.LikeMapper">

    <!-- Like 삽입 -->
    <insert id="insert" parameterType="kr.co.vibevillage.experienceAndReviewBoard.domain.Like">
        INSERT INTO R_LIKES (R_ID, U_NO, L_CREATED_AT)
        VALUES (#{rId}, #{uNo}, CURRENT_TIMESTAMP)
    </insert>

    <!-- Like 삭제 -->
    <delete id="delete">
        DELETE FROM R_LIKES WHERE R_ID = #{rId} AND U_NO = #{uNo}
    </delete>

    <!-- Like 수 카운트 -->
    <select id="countLikes" resultType="int">
        SELECT COUNT(*) FROM R_LIKES WHERE R_ID = #{rId}
    </select>

    <!-- Like 여부 확인 -->
    <select id="hasLiked" resultType="int">
        SELECT COUNT(*) FROM R_LIKES WHERE R_ID = #{rId} AND U_NO = #{uNo}
    </select>

    <!-- 게시글의 좋아요 카운트를 REVIEWS 테이블에 업데이트 -->
    <update id="updateLikeCount">
        UPDATE REVIEWS SET R_LIKE_COUNT =
                                   (SELECT COUNT(*) FROM R_LIKES WHERE R_ID = #{rId})
        WHERE R_ID = #{rId}
    </update>

</mapper>
