<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.vibevillage.experienceAndReviewBoard.listmapper.LikeMapper">

    <!-- Like 삽입 -->
    <insert id="insertLike" parameterType="kr.co.vibevillage.experienceAndReviewBoard.dto.LikeDTO">
        INSERT INTO R_LIKES (L_ID, R_ID, U_NO, L_CREATED_AT)
        VALUES (R_LIKES_SEQ.NEXTVAL, #{rId}, #{uNo}, CURRENT_TIMESTAMP)
    </insert>

    <!-- Like 삭제 -->
    <delete id="deleteLike" parameterType="kr.co.vibevillage.experienceAndReviewBoard.dto.LikeDTO">
        DELETE FROM R_LIKES
        WHERE R_ID = #{rId} AND U_NO = #{uNo}
    </delete>

    <!-- 게시글의 Like 수 카운트 -->
    <select id="countLikes" resultType="java.lang.Integer" parameterType="long">
        SELECT COUNT(*)
        FROM R_LIKES
        WHERE R_ID = #{rId}
    </select>

    <!-- Like 여부 확인 -->
    <select id="hasLiked" resultType="int" parameterType="kr.co.vibevillage.experienceAndReviewBoard.dto.LikeDTO">
        SELECT COUNT(*)
        FROM R_LIKES
        WHERE R_ID = #{rId} AND U_NO = #{uNo}
    </select>

    <!-- 게시글의 좋아요 카운트를 R_LIKES 테이블에서 가져와서 REVIEWS 테이블에 업데이트 -->
    <update id="updateLikeCount" parameterType="long">
        UPDATE REVIEWS
        SET R_LIKE_COUNT = (
            SELECT COUNT(*)
            FROM R_LIKES
            WHERE R_ID = #{rId}
        )
        WHERE R_ID = #{rId}
    </update>

</mapper>
