<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <div th:replace="~{common/head :: head}"></div>
</head>

<body data-spy="scroll" data-target=".onpage-navigation" data-offset="60">
<div th:replace="~{common/nav :: nav}"></div>
<main>
    <div class="page-loader">
        <div class="loader">Loading...</div>
    </div>

    <!-- 관리자만 작성 가능 -->
    <div class="main">
        <section class="module bg-dark-30 about-page-header" data-background="resources/images/about_bg.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                        <h1 class="module-title font-alt mb-0">공지사항</h1>
                    </div>
                </div>
            </div>
        </section>
        <section class="module">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2">
                        <h4 class="font-alt mb-0">공지사항</h4>
                        <hr class="divider-w mt-10 mb-20">
<!--                            <input type="hidden" name="nbNo" th:value="${nbNo}">-->

                            <div class="form-group">
                                <input class="form-control" type="text" th:value="*{nbDetail.nbTitle}" readonly=""/>
                            </div>
                            <!--유저의 이름 또는 닉네임으로 변경-->
                            <div class="form-group">
                                <input class="form-control" type="text" th:value="*{nbDetail.uNo}" readonly="" />
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="text" th:value="*{nbDetail.nbIndate}" readonly="" />
                            </div>
                            <div class="form-group">
                                <input class="form-control" th:value="*{nbDetail.nbViews}" readonly=""/>
                            </div>
                            <textarea class="form-control" rows="7" th:text="*{nbDetail.nbContent}" readonly=""></textarea>
                            <div style="margin-top: 10px; float: right;">
                                <a th:href="@{/noticeBoardDelete/{nbNo}(nbNo=${nbDetail.nbNo})}">
                                    <button class="btn btn-g btn-circle" type="button">삭 제</button>
                                </a>
                                <a th:href="@{/noticeBoardEditForm/{nbNo}(nbNo=${nbDetail.nbNo})}">
                             <button class="btn btn-g btn-circle"   type="button">수 정</button>
                                </a>
                            </div>
                    </div>
                </div>
            </div>
        </section>
        <hr class="divider-d">
</main>
<div th:replace="~{common/footer :: footer}"></div>
<div th:replace="~{common/js :: js}"></div>
</body>
</html>