<!DOCTYPE html>
<html lang="en-US" dir="ltr">
<head>
  <script src="//dapi.kakao.com/v2/maps/sdk.js?appkey=eaaccd59d5ca5cca9cba679898f98117&libraries=services" type="text/javascript"></script>
  <div th:replace="~{common/head :: head}"></div>
  <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
</head>
<body data-spy="scroll" data-target=".onpage-navigation" data-offset="60">
<main>
  <div class="page-loader">
    <div class="loader">Loading...</div>
  </div>
  <div th:replace="~{common/nav :: nav}"></div>
  <div class="main">
    <section class="module">
      <div class="container">
        <form id="upload-form" method="POST">
          <div class="row">
            <div class="col-sm-6 mb-sm-40">
              메인 이미지
              <div class="gallery" id="mainImg">
                <div id="currentMain" th:each="item:${mainImages}">
                  <img class="gallery"  th:src="@{${item.PROJECTREACTOR} + ${item.uploadUniqueName}}">
                  <button class="btn btn-g btn-circle" th:onclick="deleteCurrentMainImage([[${item?.imageId}]])" type="button">Delete</button>
                </div>
              </div>
              <input class="btn btn-g btn-circle" id="main-file-input" name="mainFile" type="file">

              서브 이미지

              <ul class="product-gallery" id="preview-container">
              <li class="gallery" th:each="item:${subImages}">
                <img class="gallery" th:name="${item.imageId}" th:src="@{${item.PROJECTREACTOR} + ${item.uploadUniqueName}}">
                <button class="btn btn-g btn-circle"  th:onclick="deleteCurrentSubImage([[${item?.imageId}]])" type="button">Delete</button>

              </li>
              </ul>
              <input class="btn btn-g btn-circle" id="preview-file-input" multiple name="previewFiles" type="file">
            </div>
            <div class="col-sm-6">
              <div class="row">
                <div class="col-sm-12">
                  <h1 class="product-title font-alt"></h1>
                  <div class="form-group">
                    <input class="form-control input-lg" id="usedBoardTitle" placeholder="제목" th:value="${usedBoard.usedBoardTitle}" type="text"/>
                  </div>
                </div>
              </div>

              <div class="row mb-20">
                <div class="col-sm-12">
                  <div class="form-group">
                    <input class="form-control input-lg" id="usedBoardProductName" placeholder="상품이름" th:value="${usedBoard.usedBoardProductName}" type="text"/>
                  </div>
                  <div class="form-group">
                    <input class="form-control input-lg" id="usedBoardProductPrice" placeholder="가격" th:value="${usedBoard.usedBoardProductPrice}" type="text"/>
                  </div>
                </div>
              </div>
              <div class="row mb-20">
                <div class="col-sm-12">
                  <div class="description">
                    <div class="form-group">
                      <textarea class="form-control" id="usedBoardContent" placeholder="내용" rows="7" th:text="${usedBoard.usedBoardContent}"></textarea>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row mb-20">
                <div class="col-sm-4 mb-sm-20">
                  <input class="form-control" id="sample5_address" placeholder="주소"  th:value="${usedBoard.usedBoardLocation}" type="text">
                  <input onclick="sample5_execDaumPostcode()" type="button" value="주소 검색" ><br>

                </div>
              </div>

              <div class="row mb-20">
                <div class="col-sm-4 mb-sm-20">
                  <select class="form-control" id="categoryId" th:value="${usedBoard.categoryId}">
                    <option value="1">디지털기기</option>
                    <option value="2">가구/인테리어</option>
                    <option value="3">유아동</option>
                    <option value="4">여성의류</option>
                    <option value="5">여성잡화</option>
                    <option value="6">남성패션/잡화</option>
                    <option value="7">생활가전</option>
                    <option value="8">생활/주방</option>
                    <option value="9">스포츠/레저</option>
                    <option value="10">취미/게임/음반</option>
                    <option value="11">뷰티/미용</option>
                    <option value="12">식물</option>
                    <option value="13">가공식품</option>
                    <option value="14">건강기능식품</option>
                    <option value="15">반려동물용품</option>
                    <option value="16">티켓/교환권</option>
                    <option value="17">도서</option>
                    <option value="18">유아도서</option>
                    <option value="19">기타중고물품</option>
                  </select>
                </div>
                <div class="col-sm-8">
                  <button class="btn btn-g btn-round" id="submit-button" type="button">수정</button>
                </div>
              </div>

              <br>
              <div id="map" style="width:300px;height:300px;margin-top:10px;display:none"></div>
            </div>
          </div>
        </form>
      </div>
      <hr class="divider-d">
    </section>
  </div>
  <div class="scroll-up">
    <a href="#totop"><i class="fa fa-angle-double-up"></i></a>
  </div>
</main>
<div th:replace="~{common/footer :: footer}"></div>
<div th:replace="~{common/js :: js}"></div>
<script th:src="@{/js/usedBoard/boardUpdate.js}"></script>
<script th:src="@{/js/usedBoard/common/locationData.js}"></script>
<script th:src="@{/js/usedBoard/common/image_event.js}"></script>
<script th:inline="javascript">
  let usedBoard = /*[[${usedBoard}]]*/ {};
  let deleteList = [];
  let boardId = /*[[${usedBoard.usedBoardId}]]*/ 'defaultBoardId';
  addressData = {
    sido: `${usedBoard.province}`,
    sigungu:`${usedBoard.city}`
  }
  latitude =`${usedBoard.gpsLatitude}`;
  longitude =`${usedBoard.gpsLongitude}`
</script>
</body>
</html>
