<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:href="@{/css/experienceAndReviewBoard/experienceAndReviewBoard.css}" rel="stylesheet" />
    <div th:replace="~{common/head :: head}"></div>
</head>
<body>
<div th:replace="~{common/nav :: nav}"></div>

<div class="wrapper">
    <div class="main-content">
        <div class="button-container">
            <button class="btn btn-g btn-circle left-button" type="submit" onclick="window.location.href='/experienceBoard'">전체글</button>
            <div class="right-buttons">
                <button class="btn btn-g btn-circle" type="submit">추천글</button>
                <button class="btn btn-g btn-circle" type="button" onclick="location.href='/experienceBoard/new'">글쓰기</button>
            </div>
        </div>

        <table>
            <thead>
            <tr>
                <th>제목</th>
                <th>작성자</th>
                <th>작성일</th>
                <th>조회</th>
                <th>좋아요</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="post : ${posts}">
                <!-- 게시글 제목과 댓글 수를 표시 -->
                <td>
                    <a th:href="@{/experienceBoard/post/{id}(id=${post.rId})}" th:text="${post.rTitle}">제목</a>
                    <span th:text="'(' + ${post.commentCount} + ' 댓글)'">0 댓글</span>
                </td>
                <td th:text="${post.uNo}">작성자</td>
                <td th:text="${post.rCreatedAt}">작성일</td>
                <td th:text="${post.rViewCount}">조회</td>
                <td th:text="${post.rLikeCount}">좋아요</td>
            </tr>
            </tbody>
        </table>

        <div class="search-container">
            <form th:action="@{/experienceBoard/search}" method="get">
                <input type="text" name="keyword" placeholder="검색">
                <button class="btn btn-g btn-circle" type="submit">검색</button>&nbsp;
            </form>
        </div>
    </div>

    <div class="pagination font-alt">
        <a href="#"><i class="fa fa-angle-left"></i></a>
        <a class="active" href="#">1</a>
        <a href="#">2</a>
        <a href="#">3</a>
        <a href="#">4</a>
        <a href="#"><i class="fa fa-angle-right"></i></a>
    </div>

    <div th:replace="~{common/footer :: footer}"></div>
    <div th:replace="~{common/js :: js}"></div>
</div>
</body>
</html>
