<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="~{common/head :: head}"></div>
    <!-- 스마트에디터 CSS 파일 -->
    <link rel="stylesheet" type="text/css" href="/smarteditor/dist/css/ko_KR/smart_editor2.css">
</head>
<body>
<div th:replace="~{common/nav :: nav}"></div>

<section class="module" style="height: 100vh">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <h4 class="font-alt mb-0">글쓰기</h4>
                <hr class="divider-w mt-10 mb-20">
                <form class="form" role="form" th:action="@{/experienceBoard/write}" method="post" enctype="multipart/form-data" id="postForm">
                    <div class="form-group">
                        <input class="form-control" type="text" placeholder="제목을 입력해주세요." name="rTitle" id="rTitle" />
                    </div>

                    <div class="form-group">
                        <label for="categoryId">카테고리</label>
                        <select id="categoryId" name="categoryId">
                            <option value="">카테고리를 선택해주세요.</option>
                            <option value="1">운동</option>
                            <option value="2">취미</option>
                            <option value="3">친목</option>
                            <option value="4">독서/스터디</option>
                            <option value="5">맛집탐방</option>
                            <option value="6">반려동물</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="imageUpload">이미지 업로드:</label>
                        <input type="file" class="form-control-file" id="imageUpload" name="file" accept="image/*" multiple onchange="previewImages(event)" />
                        <div id="imagePreviewContainer" style="margin-top: 10px;"></div>
                    </div>

                    <div class="form-group">
                        <textarea name="rContent" id="rContent" rows="10" cols="100" style="width:100%; height:412px;"></textarea>
                    </div>

                    <div class="form-actions">
                        <button class="btn btn-g btn-circle" type="submit" onclick="return validateForm()">등록</button>
                        <button class="btn btn-g btn-circle" type="button" th:onclick="|location.href='@{/experienceBoard}'|">취소</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<!-- 스마트에디터 JS 파일 -->
<script type="text/javascript" src="/smarteditor/dist/js/service/HuskyEZCreator.js" charset="utf-8"></script>
<script type="text/javascript">
    var oEditors = [];
    nhn.husky.EZCreator.createInIFrame({
        oAppRef: oEditors,
        elPlaceHolder: "rContent",
        sSkinURI: "/smarteditor/dist/SmartEditor2Skin.html",
        htParams: {
            bUseToolbar: true,
            bUseVerticalResizer: true,
            bUseModeChanger: true,
        },
        fCreator: "createSEditor2"
    });

    function validateForm() {
        submitContents();
        const rTitle = document.getElementById('rTitle').value.trim();
        const categoryId = document.getElementById('categoryId').value.trim();
        oEditors.getById["rContent"].exec("UPDATE_CONTENTS_FIELD", []); // 에디터의 내용을 textarea에 업데이트
        const rContent = document.getElementById('rContent').value.trim();

        if (!rTitle) {
            alert('제목을 입력해주세요.');
            return false;
        }

        if (!categoryId) {
            alert('카테고리를 선택해주세요.');
            return false;
        }

        if (!rContent) {
            alert('내용을 입력해주세요.');
            return false;
        }
        return true;
    }
</script>

<div th:replace="~{common/footer :: footer}"></div>
<div th:replace="~{common/js :: js}"></div>
</body>
</html>
